<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.robotics3.madtownscouting">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/madtown_robotics"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainMenu"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Welcome"
            android:label="MainMenu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ScoutingMenu"
            android:label="ScoutingMenu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".GameRoster" />
        android:label="@string/title_activity_game_roster" />
        <activity android:name=".EventsRoster" />
        android:label="@string/title_activity_events_roster" />
        <activity android:name=".AutonomousPeriod" />
        <activity android:name=".Accuracy_Precision" />
        <activity android:name=".MatchResults" />
        <activity android:name=".SelectTeam" />
        <activity android:name=".TeamRoster" />
        <activity android:name=".SendData" />
        <activity android:name=".EditScreen" />
        <activity android:name=".PicturesMenu" />
        <activity android:name=".TeamPictureSelection" />
        <activity android:name=".PictureList" />
        <activity android:name=".UploadPicture"></activity>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
    </application>

</manifest>
